{% extends 'audiotypes/index.html' %}
{% block body_block %}

<div class="container">
    <h2 align="center">AudioBook Detail</h2>
    <hr>
    {% if messages %} {% for message in messages %}
    <!-- <div class="alert alert-info" role="alert">
    <a class="alert-link">{{ message }}</a>
    </div> -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Hey</strong> {{ message }}
      <a class="close" href="#" data-dismiss="alert">×</a>
    </div>
    {% endfor %} {% endif %}
    <div class="card text-center">
        <div class="card-header">
          Duration in Seconds : {{form.Book_Duration}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Audiobook Name : {{form.Book_Title}}</h5>
          <p class="card-text">Audiobook Author : {{form.Book_Author}}</p>
          <p class="card-text">Audiobook Narrator : {{form.Book_Narrator}}</p>
          <p class="card-text">Audiobook UploadDate : {{form.Book_Uploaddate}}</p>
          <p class="card-text">Audiobook UploadTime : {{form.Book_Uploadtime}}</p>
          <a href="{% url 'audiolist' %}" class="btn btn-primary">Go Back</a>
        </div>
        <div class="card-footer text-muted">
          Book ID : {{form.id}}
        </div>
      </div>
  
    {% endblock %}